option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: "8081"
    MODEL_DIR_OVERRIDE: ""   # set this in EB console later only if you need to override the baked model
  aws:elasticbeanstalk:environment:process:default:
    Port: "8081"
    HealthCheckPath: "/health"
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    RetentionInDays: 14
